@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
  background-color: whitesmoke;
}

.categoryWrapper {
  display: grid;
  max-width: 80%;
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.categoriesHeader {
  text-align: center;
  margin: 3rem 0;
  font-size: 3rem;
  color: rgb(12, 91, 94);
  text-decoration: underline;
}

@media (max-width: 700px) {
  .categoriesHeader {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  .categoryWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .categoryWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .categoryWrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

.MuiPaper-rounded {
  padding: 1rem;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.MuiPaper-rounded:hover {
  filter: brightness(0.9);
}

.MuiPaper-rounded h5 {
  color: #232b2b;
}

.checkIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.nextBtn {
  width: 200px;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.categoryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.levelPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levelPage h1 {
  margin: 4rem 0;
  font-size: 4rem;
  color: teal;
  text-align: center;
}

@media (max-width: 600px) {
  .levelPage h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

.levelBtn {
  width: 200px;
  height: 60px;
  display: block;
  margin-top: 3rem;
  /* margin: 1rem; */
}

.levelNextBtn {
  margin-top: 5rem;
  width: 120px;
}

.questionNextBtn {
  width: 140px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.questionPaper {
  width: 80%;
  margin: 4rem 0;
  height: auto;
  color: grey !important;
  flex-direction: column;
  padding: 2rem !important;
}

@media (min-width: 1000px) {
  .questionPaper {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .questionPaper {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .questionPaper {
    width: 90%;
  }
}

.MuiPaper-rounded:hover {
  filter: brightness(1);
}

.questionPaper h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.progress {
  width: 80%;
  border: 1px solid black;
  max-width: 1000px;
  margin: 3rem 0;
}

.answers {
  padding: 1rem;
  margin-bottom: 1rem;
}

.answers > * {
  margin: 0.5rem;
}

.answers label {
  margin-left: 1rem;
}

.answerBtn {
  min-width: 100% !important;
}
